java/资料/app/spring_demo/src/main/resources/org/example/label/person.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://weicelove.cn/schema/person"
        xmlns:tns="http://weicelove.cn/schema/person"
        elementFormDefault="qualified" >
    <element name="person">
        <complexType>
            <attribute name="id" type="string"/>
            <attribute name="userName" type="string"/>
            <attribute name="email" type="string"/>
        </complexType>
    </element>
</schema>